@media (max-width: 750px) {

    .hidden--mobile {
        display: none !important;
    }
}

.visible--mobile {
    display: block;

    @media (min-width: 751px) {
        display: none;
    }
}

.margin--mobile {
    @media (max-width: 750px) {
        margin-bottom: 25px;
    }
}


