/*  ##### COLORS #####  */

/*  ### PRIMARY ###  */

$primary: hsl(322, 100%, 66%);

/*  ### NEUTRAL ###  */

$neutral-dark: hsl(192, 100%, 9%);
$neutral-light: hsl(208, 11%, 55%);
$white: #ffffff; 



/*  ##### TYPOGRAPHY #####  */

/* ### HEADINGS ### */

$font-headings: 'Poppins', sans-serif;

/* ### BODY ### */

$font-body: 'Open Sans', sans-serif;
